<?xml version="1.0" encoding="UTF-8"?>


<suite name="Suite" parallel="tests">

	<test name="FirefoxTest">
		<parameter name="browser" value="firefox" />
		<classes>
			<!-- <class name="com.webtek.test.SanityTest" />
			<class name="com.webtek.test.SanityTest1" /> 
			<class name="com.webtek.test.SanityTest2" />-->
			<class name="com.webtek.test.CompareProductTes" />
		</classes>
	</test>

<!--  	<test name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.webtek.test.SanityTest" />
			<class name="com.webtek.test.SanityTest1" />
			<class name="com.webtek.test.SanityTest2" />
		</classes>
	</test>-->

	<test name="IETest">
		<parameter name="browser" value="ie" />
		<classes>
			<!--  <class name="com.webtek.test.SanityTest" />
			<class name="com.webtek.test.SanityTest1" />
			<class name="com.webtek.test.SanityTest2" />-->
		</classes>
	</test>
</suite>